
  <div class="btn">
    <button mat-stroked-button color="accent" [routerLink]="['/planos']">Cadastrar</button>
  </div>

<mat-form-field appearance="standard">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtre" #input>
</mat-form-field>
<table class="rTable" *ngIf="response">
  <thead>
      <tr>
          <th>Id</th>
          <th>CPF</th>
          <th>Ações</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let elemento of response">
          <td>{{elemento.id }}</td>
          <td>{{elemento.cpf}}</td>
          <td>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>


  </tbody>
</table>
