.container {
  margin-top: 2%;
}

.mat-card {
  background-color: #1139b0;
  margin: 2%;
  width: 50%;
  left: 20%;
  padding: 5%;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.btn {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.error{
  border: 5px solid transparent;
  background-color: transparent;
  z-index: 1;
  color: red;
  font-size: initial;
  font-weight: bold;
}

:host ::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }

  .mat-stroked-button.mat-accent {
    background-color: #ffd9e9;
    color: #1139b0;
    margin-bottom: 2%;
    align-self: center;
    width: 20%;
    justify-content: space-between;
  }
}
