<div class="container">
    <mat-card>
        <form [formGroup]="formulario">
            <div *ngFor="let campo of valoresCampos">
                <div class="inputs" >
                <mat-form-field appearance="fill" *ngIf="campo == 'nome'">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome completo" formControlName="nome" required>
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>
                </mat-form-field>
            
                <mat-form-field appearance="fill" *ngIf="campo == 'cpf'">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="000.000.000-00" formControlName="cpf" required mask="000.000.000-00">
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>

                </mat-form-field>
            
                <mat-form-field appearance="fill" *ngIf="campo == 'dataAdm'">
                    <mat-label>Data de Admissão</mat-label>
                    <input matInput placeholder="00/00/0000" formControlName="data" required mask="00/00/0000">
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>

                </mat-form-field>
            
                <mat-form-field appearance="fill" *ngIf="campo == 'email'">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="exemplo@examplo.com" formControlName="email" required>
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>

                </mat-form-field>
            </div>
            
            <div class="inputs">
                <mat-form-field appearance="fill" *ngIf="campo == 'endereco'">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Rua exemplo, 111" formControlName="endereco" required>
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>

                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="campo == 'peso'">
                    <mat-label>Peso(kg)</mat-label>
                    <input matInput placeholder="peso kg" formControlName="peso" required >
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>

                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="campo == 'altura'">
                    <mat-label>Altura(cm)</mat-label>
                    <input matInput placeholder="altura cm" formControlName="altura" required>
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="campo == 'horas'">
                    <mat-label>Horas meditadas nos últimos 7 dias</mat-label>
                    <input matInput placeholder="00 Horas" formControlName="horas" required >
                    <small [ngClass]="{ error: true }" *ngIf="getErro('horas')">Campo obrigatório</small>
                </mat-form-field>
            </div>
        </div>
            <div class="btn">
                <button mat-stroked-button color="accent" (click)="voltar()">Voltar</button>
                <button mat-stroked-button color="accent" (click)="salvar()" [attr.disabled]="!formulario.valid ? true : null">Salvar</button>
            </div>
        </form>
    </mat-card>
</div>